<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Centaris</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <noscript>
        <link href="../static/css/noscript.css" th:href="@{/css/noscript.css}" rel="stylesheet"/>
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="index.html" th:href="index" class="logo">
                <span class="symbol"><img src="../static/images/logo.svg" th:src="@{/images/logo.svg}"
                                          alt=""/></span><span
                    class="title">Centaris</span>
            </a>

            <a href="login.html" th:href="login" class="login">
                <span class="label">Login</span>
            </a>
            <a href="sing-up.html" th:href="sing-up" class="sing-up">
                <span class="label">Sing Up</span>
            </a>

            <div class="search-box">
                <input type="text" placeholder="Search..">
                <button type="button"><i class="fa fa-search"></i></button>
            </div>


            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a th:href="index">Home</a></li>
            <li><a th:href="index">My profile</a></li>
            <li><a th:href="index">Favorite</a></li>
            <li><a th:href="index">Inbox</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Find the item you need for your kid. For free!</h1>
            </header>
            <section class="tiles">
                <article class="style1">
									<span class="image">
										<img th:src="${item1.mainImage}" alt="" width="360px" height="333px"/>
									</span>
                    <a th:href="@{__${item1.id}__}">
                        <h2 th:inline="text" th:text="${item1.name}">Item Name</h2>
                        <h3 th:inline="text" th:text="${item1.category}" >Category</h3>
                        <h3 th:inline="text" th:text="${item1.district}" >Location</h3>
                    </a>
                </article>
                <article class="style2">
									<span class="image">
										<img th:src="${item2.mainImage}" alt="" width="360px" height="333px"/>
									</span>
                    <a th:href="@{__${item2.id}__}">
                        <h2 th:inline="text" th:text="${item2.name}">Item Name</h2>
                        <h3 th:inline="text" th:text="${item2.category}" >Category</h3>
                        <h3 th:inline="text" th:text="${item2.district}" >Location</h3>
                    </a>
                </article>
                <article class="style3">
									<span class="image">
										<img th:src="${item3.mainImage}" alt="" width="360px" height="333px"/>
									</span>
                    <a th:href="@{__${item3.id}__}">
                        <h2 th:inline="text" th:text="${item3.name}">Item Name</h2>
                        <h3 th:inline="text" th:text="${item3.category}" >Category</h3>
                        <h3 th:inline="text" th:text="${item3.district}" >Location</h3>
                    </a>
                </article>
                <article class="style4">
									<span class="image">
										<img src="../static/images/pic04.jpg" th:src="@{/images/pic04.jpg}" alt=""/>
									</span>
                    <a href="generic.html" th:href="generic">
                        <h2>Item Name</h2>
                        <h3>Category</h3>
                        <h3>Location</h3>
                        <div class="content">
                            <p>ShortDescription</p>
                        </div>
                    </a>
                </article>
                <article class="style5">
									<span class="image">
										<img src="../static/images/pic05.jpg" th:src="@{/images/pic05.jpg}" alt=""/>
									</span>
                    <a href="generic.html" th:href="generic">
                        <h2>Item Name</h2>
                        <h3>Category</h3>
                        <h3>Location</h3>
                        <div class="content">
                            <p>ShortDescription</p>
                        </div>
                    </a>
                </article>
                <article class="style6">
									<span class="image">
										<img src="../static/images/pic06.jpg" th:src="@{/images/pic06.jpg}" alt=""/>
									</span>
                    <a href="generic.html" th:href="generic">
                        <h2>Item Name</h2>
                        <h3>Category</h3>
                        <h3>Location</h3>
                        <div class="content">
                            <p>ShortDescription</p>
                        </div>
                    </a>
                </article>
                <article class="style2">
									<span class="image">
										<img src="../static/images/pic07.jpg" th:src="@{/images/pic07.jpg}" alt=""/>
									</span>
                    <a href="generic.html" th:href="generic">
                        <h2>Item Name</h2>
                        <h3>Category</h3>
                        <h3>Location</h3>
                        <div class="content">
                            <p>ShortDescription</p>
                        </div>
                    </a>
                </article>
                <article class="style3">
									<span class="image">
										<img src="../static/images/pic08.jpg" th:src="@{/images/pic08.jpg}" alt=""/>
									</span>
                    <a href="generic.html" th:href="generic">
                        <h2>Item Name</h2>
                        <h3>Category</h3>
                        <h3>Location</h3>
                        <div class="content">
                            <p>ShortDescription</p>
                        </div>
                    </a>
                </article>
                <article class="style1">
									<span class="image">
										<img src="../static/images/pic09.jpg" th:src="@{/images/pic09.jpg}" alt=""/>
									</span>
                    <a href="generic.html" th:href="generic">
                        <h2>Item Name</h2>
                        <h3>Category</h3>
                        <h3>Location</h3>
                        <div class="content">
                            <p>ShortDescription</p>
                        </div>
                    </a>
                </article>
                <article class="style5">
									<span class="image">
										<img src="../static/images/pic10.jpg" th:src="@{/images/pic10.jpg}" alt=""/>
									</span>
                    <a href="generic.html" th:href="generic">
                        <h2>Item Name</h2>
                        <h3>Category</h3>
                        <h3>Location</h3>
                        <div class="content">
                            <p>ShortDescription</p>
                        </div>
                    </a>
                </article>
                <article class="style6">
									<span class="image">
										<img src="../static/images/pic11.jpg" th:src="@{/images/pic11.jpg}" alt=""/>
									</span>
                    <a href="generic.html" th:href="generic">
                        <h2>Item Name</h2>
                        <h3>Category</h3>
                        <h3>Location</h3>
                        <div class="content">
                            <p>ShortDescription</p>
                        </div>
                    </a>
                </article>
                <article class="style4">
									<span class="image">
										<img src="../static/images/pic12.jpg" th:src="@{/images/pic12.jpg}" alt=""/>
									</span>
                    <a href="generic.html" th:href="generic">
                        <h2>Item Name</h2>
                        <h3>Category</h3>
                        <h3>Location</h3>
                        <div class="content">
                            <p>ShortDescription</p>
                        </div>
                    </a>
                </article>
            </section>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h2>Get in touch</h2>
                <form method="get" action="">
                    <div class="fields">
                        <div class="field half">
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="field half">
                            <input type="email" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary"/></li>
                    </ul>
                </form>
            </section>
            <section>
                <h2>Follow</h2>
                <ul class="icons">
                    <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a>
                    </li>
                    <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a>
                    </li>
                    <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
                    <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
                    <li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
                </ul>
            </section>
            <ul class="copyright">
                <li></li>
                <li></li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/browser.min.js" th:src="@{/js/browser.min.js}"></script>
<script src="../static/js/breakpoints.min.js" th:src="@{/js/breakpoints.min.js}"></script>
<script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>